#hud {
    margin-left: 7%;
}

#pageHeading {}

#dashboard {
    margin-left: 7%;
    margin-right: 7%;
}

#btnRemoveCharById {
    cursor: pointer;
}

#btnRemoveCharById:hover {
    color: red;
}

#isNPC, #lookupBtn {
    display: none;
}

.card {
    max-height: 420px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}